@{
    ViewData["title"] = "Movie List";
}

@model List<Movie>

<table class="table table-bordered">
    <thead>
        <tr>
            <td>Category</td>
            <td>Title</td>
            <td>Year</td>
            <td>Director</td>
            <td>Rating</td>
            <td>Edited?</td>
            <td>Lent To</td>
            <td>Notes</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
            {
                <tr>
                    <td>@movie.Category.CategoryName</td>
                    <td>@movie.Title</td>
                    <td>@movie.Year</td>
                    <td>@movie.Director</td>
                    <td>@movie.Rating</td>
                    <td>@movie.Edited</td>
                    <td>@movie.LentTo</td>
                    <td>@movie.Notes</td>
                    <td><a class="btn btn-primary" asp-controller="Home" asp-action="EditMovie" asp-route-id="@movie.Title">Edit</a></td>
                    <td><a class="btn btn-danger" asp-controller="Home" asp-action="DeleteMovie" asp-route-id="@movie.Title">Delete</a></td>
                </tr>
            }
    </tbody>
</table>
